* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 100%;
  z-index: -1;
}

/*
NavBar
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #05152d;
  color: #fff;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo img {
  width: 8%;
  height: 10%;
  vertical-align: middle;
  border-radius: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.navbar ul input {
  border: none;
  font-size: 14px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: large;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ffc300;
}

/*
Homepage
*/

.image-container {
  position: relative;
  height: 100px;
  width: 100px;
}

.bg-up {
  margin: 0;
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}
.wrap {
  margin-top: 19px;
  position: absolute;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.upper-image {
  width: 100%;
  height: 100%;
  z-index: -100;
  position: absolute;
  display: block;
  object-fit: cover;
}
.overlay-up {
  display: flex;
  color: black;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 60%;
  background-color: #ffc300;
  text-align: center;
  width: 100%;
  max-width: 448px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 0;
}

.overlay-up h1 {
  margin: 20px 0 10px 0;
  letter-spacing: 2px;
  font-size: 35px;
  color: #000814;
}
.up-but {
  font-size: 20px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #000814;
  font-weight: bold;
  padding: 5px 35px;
  border: 3px solid #000814;
  border-radius: 2px;
  position: relative;
  margin: 0 20px 20px 20px;
  background-color: transparent;
  appearance: none;
  width: 180px;
  height: 48px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1;
  padding-right: 35px;
  
  background-size: 12px 8px;
  background-position: right 20px center;
  
}

.up-search {
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  border: 3px solid #000814;
  border-radius: 2px;
  position: relative;
  margin: 0 20px 20px 20px;
  background-color: #000814;
  appearance: none;
  width: 400px;
  height: 48px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1;
}

.up-but:before {
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #000814;
  z-index: -1;
}

.up-but:hover,
.up-but:focus {
  color: #000814;
  outline: none;
}
.up-but:hover:before,
.up-but:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.up-but:active {
  transform: scale(0.9);
}

.up-search:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ffc300;
  z-index: -1;
}

.up-search:hover,
.up-search:focus {
  color: #000814;
}
.up-search:hover:before,
.up-search:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.up-search:active {
  transform: scale(0.9);
}

.cotw {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 0px;
}
.cotw h1 {
  margin: 0px;
}
.showcase {
  display: flex;
  margin-top: 0px;
  width: 60%;
  height: 20%;
  border-radius: 20px;
  transition: 0.5s ease;
  position: relative;
}
.pictures {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
}
.showcase::after {
  content: "Daewoo Matiz";
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease;
}
.showcase:hover {
  width: 62%;
  height: 52%;
}

.showcase:hover::after {
  opacity: 50%;
}

/*
FOOTER
*/

footer {
  display: flex;
  margin-top: 150px;
  padding: 50px 15%;
  width: 100%;
  background: #05152d;
  color: white;
}

footer div {
  text-align: center;
  
}
.col-1 h1 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  margin-bottom: 0px;
}
.col-1 p {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  margin-top: 1px;
}
.login-btn {
    display: inline-block;
    background-color: #ffc300; 
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 15px;
  }

.col-2 {
  margin-left: 30%;
  margin-right: 30%;
  font-size: large;
}

.col-2 a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  transition: 0.3s ease;
}
.col-2 a:hover {
  color: #ffc300;
}

.col-3 h3 {
  font-weight: 200;
  font-weight: 200;
  margin-bottom: 40px;
  letter-spacing: 1px;
  
}
.col-3 {
  display: flex;
  flex-direction: column; 
  margin: 5px 0px;
}
.col-3 a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  transition: 0.3s ease;
}
.col-3 a:hover {
    color: #ffc300;
}

/*
CONTACT
*/

.bg-up-contact {
  margin: 0;
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

.overlay-request {
  display: flex;
  color: #000814;
  flex-direction: column;
  position: absolute;
  background: rgba(255, 255, 255, 0.19);
  top: 5%;
  left: 3%;
  align-items: center;
  width: 100%;
  max-width: 700px;
  height: 900px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
form {
  appearance: none;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
input {
  width: 400px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  height: 40px;
}

.overlay-request h1 {
  margin: 20px 0 50px 0;
  letter-spacing: 2px;
  font-size: 35px;
  color: #ffc300;
}
.overlay-request h2 {
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 20px;
  color: #ffc300;
}
#myfile {
  display: none;
}
.file-appearence {
  border: 2px dashed rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  padding: 20px 12px;
  cursor: pointer;
}

.up-submit {
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 15px 32px;
  border: 1px solid #000814;
  border-radius: 2px;
  position: relative;
  margin: 70px 20px 20px 20px;
  background-color: #ffc300;
  appearance: none;
  width: 400px;
  height: 48px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1;
}

.up-submit:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #000814;
  z-index: -1;
}

.up-submit:hover,
.up-submit:focus {
  color: white;
}
.up-submit:hover:before,
.up-submit:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.up-submit:active {
  transform: scale(0.9);
}

.col-2 a:hover {
  color: #ffc300;
}

/*
ABOUT
*/

.inf {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.inf-img {
  display: flex;
  margin-top: 110px;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  transition: 0.5s ease;
  position: relative;
}
.inf-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.inf-img::after {
  content: "John O'Reilly";
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease;
}

.inf-img:hover {
  width: 52%;
  height: 52%;
}

.inf-img:hover::after {
  opacity: 50%;
}

.inf-about {
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
}

.inf-about h1 {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 1px;
}

/*
Collection
*/


.gallery{
  display: inline-block;
  width: 480px;
  border: 1px solid #000814;
  margin: 100px 10px 10px 10px;
}
.gallery img{
  width: 100%;
  height: auto;
}
.descriptionCollection{
  padding: 10px;
text-align: center;
}
.gallery:hover{
  border: 1px solid #ffc300;
}