* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 100%;
  z-index: -1;
}
  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #000814;
  color: #fff;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.navbar ul input {
  border: none;
  font-size: 14px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ffc300;
}

.image-container {
  position: relative;
  height: 100px;
  width: 100px;
}

.bg-up {
  margin: 0;
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}
.wrap {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.upper-image {
  width: 100%;
  height: 100%;
  z-index: -100;
  position: absolute;
  display: block;
  object-fit: cover;
}
.overlay-up {
  display: flex;
  color: black;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 60%;
  background-color: #ffc300;
  text-align: center;
  width: 100%;
  max-width: 448px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 0;
}

.overlay-up h1 {
  margin: 20px 0 10px 0;
  font-family: "Dancing Script";
  letter-spacing: 2px;
  font-size: 35px;
  color: #000814;
}
.up-but {
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #000814;
  font-weight: bold;
  padding: 15px 32px;
  border: 3px solid #000814;
  border-radius: 2px;
  position: relative;
  margin: 0 20px 20px 20px;
  background-color: transparent;
  appearance: none;
  width: 180px;
  height: 48px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1;
}

.up-search {
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  border: 3px solid #000814;
  border-radius: 2px;
  position: relative;
  margin: 0 20px 20px 20px;
  background-color: #000814;
  appearance: none;
  width: 400px;
  height: 48px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1;
}

.cotw {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 0px;
}
.cotw h1{
  margin: 0px;
}
.showcase {
  display: flex;
  margin-top: 0px;
  width: 60%;
  height: 20%;
  border-radius: 20px;
  transition: 0.5s ease;
  position: relative;
}
.pictures{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;  
}
.showcase::after{
  content: 'Daewoo Matiz';
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease;
}



footer {
  display: flex;
  margin-top: 150px;
  padding: 50px 15%;
  width: 100%;
  background: #000814;
  color: white;
}

footer div {
  text-align: center;
}
.col-1 h1 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  margin-bottom: 0px;
}
.col-1 p {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  margin-top: 0px;
}

.col-2 {
  margin-left: 30%;
  margin-right: 30%;
}

.col-2 a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

footer div h3 {
  font-weight: 300;
  font-weight: 300;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

