
body{
    font-family: "Calibri";
}
header{
    background-color: #073763;
    color: white;
    position: sticky;
}
.topnav
{   
    background-color: #073763;
    display: flexbox;
}
.topnav h1
{
    color:white;
}
.topnav input
{   
    margin-left:80%;
    height: 20px;
}
.topnav a {
  color:white;
  font-weight: bold;
  text-decoration: none;
}
.car_of_the_week{
    background-color: #073763;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 25px;
    color:white;
}