* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 100%;
  z-index: -1;
}
  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #000814;
  color: #fff;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.navbar ul input {
  border: none;
  font-size: 14px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ffc300;
}



footer {
  display: flex;
  margin-top: 0px;
  padding: 50px 15%;
  width: 100%;
  background: #000814;
  color: white;
}

footer div {
  text-align: center;
}
.col-1 h1 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  margin-bottom: 0px;
}
.col-1 p {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  margin-top: 0px;
}

.col-2 {
  margin-left: 30%;
  margin-right: 30%;
}

.col-2 a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

footer div h3 {
  font-weight: 300;
  font-weight: 300;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

