.navbar ul li a:hover {
  color: #ffc300;
}

.up-but:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #000814;
  z-index: -1;
}

.up-but:hover,
.up-but:focus {
  color: white;
}
.up-but:hover:before,
.up-but:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.up-but:active {
  transform: scale(0.9);
}

.up-search:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ffc300;
  z-index: -1;
}

.up-search:hover,
.up-search:focus {
  color: #000814;
}
.up-search:hover:before,
.up-search:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.up-search:active {
  transform: scale(0.9);
}

.col-2 a:hover {
  color: #003566;
}

.showcase:hover {
  width: 62%;
  height: 52%;
}

.showcase:hover::after {
  opacity: 50%;
}
